<!doctype html>
<html>
<head>
    <title>Guide+</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="App,iOS,Android">
    <link href="favicon.ico" type="image/x-icon" rel=icon>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="phone"></div>
    <div id="container">
        <div id="header">
            <div id="logo"></div>
            <div id="slogan"></div>
        </div>
        <div id="buttons">
            <a id="ios" href="httnp://mp.weixin.qq.com/mp/redirect?url=https://itunes.apple.com/app/id890404699#weixin.qq.com%23wechat_redirect" target="_blank"></a>
            <a id="android" href="httnp://mp.weixin.qq.com/mp/redirect?url=http://catch-static.b0.upaiyun.com/catchchat-official-release.apk#wechat_redirect" target="_blank"></a>
        </div>

        <div id="scan"></div>
        <img id="qrcode" src="/images/qrcode.jpg" alt="二维码下载「Guide+」" width="148" height="148">

        <i id="ibtt">&copy; 2015 Godot Team</i>

        <a id="mbtn" href="(httnp://mp.weixin.qq.com/mp/redirect?url=https://itunes.apple.com/app/id890404699#weixin.qq.com%23wechat_redirect)"></a>
    </div>


    <script type="text/javascript" src="/js/script.js"></script>
</body>
    <!-- CNZZ tongji -->
    <div class="hide"><script src="http://s4.cnzz.com/stat.php?id=1254025727&web_id=1254025727" language="JavaScript"></script></div>
</html>
