<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Guide+ Dashboard</title>
  <% include head %>
  <script>
  //   function back(){
  //     if(document.referrer=='' ||document.referrer==window.location){
  //       window.location='/storys'
  //     }else{
  //       history.back()
  //     }
  //   }
  </script>
</head>
<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand font-logo" href="/storys">Guide+ <span class="navbar-brand-subtitle">Dashboard</span></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li id="site_nav_tickets"><a href="/tickets">帖子列表</a></li>
        <!-- <li id="site_nav_history"><a href="/history">广场</a></li> -->
        <!-- <li id="site_nav_engineers"><a href="/contact">联系方式</a></li> -->
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li id="site_nav_welcome">
          <a href="/tickets" >欢迎您，管理员</a>
        </li>
        <li id="site_nav_logout">
          <!--  -->
          <!-- <a id="login_href" href="/logout">注销</a> -->
          <!-- -->
          <a id="login_href" href="/login">登录</a>
          <!--  -->

        </li>
      </ul>

      <form id="topSearch" class="navbar-form navbar-right ng-pristine ng-valid " role="search"
            action="/search"
            method="get">
        <div class="input-group navbar-search" >
          <input id="inputSearch" type="text" class="form-control" value="" name="content"
                 placeholder="搜索帖子">
        <!--<span class="input-group-btn">
          <button type="submit" class="btn btn-default" id="openBtn">搜索</button>
        </span>-->
        </div>
      </form>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <%- body %>
</div>
<!-- .container -->

<% include footer %>

<script>
  $(function () {
    // Bootstrap tooltips
    $(".bstooltip").tooltip();

    // Stupid Table init.
    $(".table-sortable").stupidtable();

    // Stupid Table loads on page ready
    $(".table-sortable").find("th[data-sort-onload]").click();

    // Stupiad Table adds arrow when sorting
    var table = $(".table-sortable").stupidtable();
    table.bind('aftertablesort', function (event, data) {
      // data.column - the index of the column sorted after a click
      // data.direction - the sorting direction (either asc or desc)

      var th = $(this).find("th");
      th.find(".arrow").remove();
      var arrow = data.direction === "asc" ? "&uarr;" : "&darr;";
      th.eq(data.column).append("<span class=arrow>" + arrow + "</span>");
    });

    var site_nav_url = window.location.pathname;
    var regs = [/^(\/history|\/admin\/history).*/, /^(\/tickets|\/admin\/tickets).*/, /^\/search.*/, /^\/contact.*/];
    var selectors = ["#site_nav_history", "#site_nav_tickets", "#site_nav_search", "#site_nav_engineers"];
    for (var i = 0; i < regs.length; i++) {
      if (regs[i].exec(site_nav_url)) {
        $(selectors[i]).addClass('active');
        break;
      }
    }

    if(/^\/search.*/.test(site_nav_url)){
      $('#topSearch').addClass('hidden');
    }
  });
</script>

</body>
</html>
