<form id="loginForm" enctype="multipart/form-data" action="/login" method="post">

<div class="form-group">
	<div class="controls">
		<input type="text" name="phone" id="inputTitle" class="form-control" placeholder="mobileNumber" required>
	</div>
</div>

<div class="form-group">
	<div class="controls">
		<input type="password" name="password" id="inputTitle" class="form-control" placeholder="password" required>
	</div>
</div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/register" class="btn btn-default">Register</a>
  </div>

</form>