
<form id="storyForm" enctype="multipart/form-data" action="/admin/storys/new" method="post">

  <div class="callout callout-info callout-has-icon" role="alert">
  <i class="avc-icon avc-info"></i>
  <h4>小贴士</h4>
  <ul>
    <li>提交的帖子必须是：已人工审核、保证质量；作者和媒体允许转载（无禁止转载/谢绝转载的声明）；符合现有栏目分类</li>
    <li>“首图”是指帖子的第一张图/焦点图，用在查看帖子内容之前的展示，请保证清晰度</li>
    <li>其他帖子内容中的插图，请和内容以 HTML 形式一起写入正文</li>
    <li>所有图片应该上传到 media.guideplus.me 下，用得到的新图片地址替代原文中的图片地址</li>
    <li>从何处得到 HTML 正文？打开浏览器，在原文页面，右键，查看网页源代码，从中找到 正文部分 复制</li>
    <li>有疑问请联系我</li>
  </ul>
</div>

  <div class="form-group">
    <label class="control-label" for="inputTitle">
      标题
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>

    <div class="controls">
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="请在此处粘贴标题" required>
    </div>
  </div>


  <div class="form-group">
    <label class="control-label" for="inputType">
      类型
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>

    <div class="controls">
    <select id="inputType" class="form-control" name="type" required>
      <option value="互联网创业" selected="selected">互联网创业</option>
      <option value="好书推荐">好书推荐</option>
      <option value="顶尖文案">顶尖文案</option>
    </select>
    </div>
  </div>

    <div class="form-group">
      <label class="control-label" for="inputImage">
        首图地址
        <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
        (格式：图片存储域名 + 当前日期前缀 + 图片名 ，示例如下)
      </label>

      <div class="controls">
        <input type="text" name="image" id="inputImage" class="form-control" value="http://media.guideplus.me/2015/01/01/119495693.png" required>
      </div>
    </div>

  <div class="form-group">
    <label class="control-label" for="inputReadLink">
      原文地址
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>

    <div class="controls">
      <input type="text" name="readLink" id="inputReadLink" class="form-control" placeholder="粘贴原文地址，例如 http://segmentfault.com/blog/lenbo_ma/1190000000495693" required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputFrom">
      原始出处
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
    </label>

    <div class="controls">
      <input type="text" name="from" id="inputFrom" class="form-control" placeholder="粘贴原载出处的名称，例如：36氪" required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputContent">
    正文
      <b class="has-required bstooltip" title="必填" data-placement="top">Required</b>
  </label>

    <div class="controls">
      <textarea rows="10" cols="20" name="content" id="inputContent" class="form-control" placeholder='<p>大学毕业后的一年，我在多伦多市郊的一家小公司工作，做一名视听技术顾问。这个公司承接了一些非常酷的项目，包括设计电影院外形和给大型建筑消音。</p>
<p>过去的这个夏天，每个周四中午吃饭前的一小时，我都要坐在办公桌前，完成这周的报告，但我很苦恼。并不是苦恼报告的提交截止日期，而是苦恼于根本无法集中注意力完成这份报告。我不想让我的余生都坐在一张桌子前写这样的报告。事实上，我甚至不想这周余下的时间里做这种事情。</p>
<h3>这完全是好奇心的驱使，自发的学习</h3>
<p>接下来的几周里，我所有的时间都在思考，计划以及做现实生活的各种交流、公关活动。我最终确定了一个目标，开始开发了。我大概90%的时间在家里开发，其它时间在咖啡馆里。辞职2个月后，我用了一个月的开发完成了1.0版本的<a title="" href="http://www.jamcamera.com/" target="_blank">JamCam</a>。我可以在这里大说它一番，但我想你自己去看看才是最简单的方法。</p>
<p><img alt="" src="http://media.guideplus.me/2015/01/04/37B86.png"></p>
' required></textarea>
    </div>
  </div>


  <div class="form-group">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/storys" class="btn btn-default">回到帖子列表</a>
  </div>

</form>
